body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

.title_box {
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 20px;
    justify-items: start;
    align-items: center;
    font-size: 1.5em;
}

.red_box {
    background-color: firebrick;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

h2 {
    padding-bottom: 3px;
    text-shadow: 0 0 3px rgb(177, 12, 12);
    font-size: 35px;
    margin-bottom: 10px;
}

ul {
    border-top: 2px solid rgb(58, 57, 57);
    border-bottom: 2px solid rgb(58, 57, 57);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    font-size: 24px;
}

ul li {
    padding: 5px;
}

p1 {
    font-size: 20px;
    font-style: italic;
}

footer {
    bottom: 0;
    text-align: center;
    font-size: 1.2em;
}

.container {
    max-width: 978px;
    margin: auto;
}

#last_updated {
    color: gold;
}