@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Philosopher:ital,wght@0,400;0,700;1,400&family=Poppins&family=Roboto:ital,wght@0,100;1,100");
:root {
    /* change the values below to your colors from your palette */
    /* https://coolors.co/cb1b16-.....*/
    --primary-color: #45a049;
    --secondary-color: #f2f2f2;
    --accent1-color: #f76d29;
    --accent2-color: #4175e6;
    --accent3-color: #0c0c0b;
    --accent4-color: white;
    /* change the values below to your chosen font(s) */
    --heading-font: "@import url('https://fonts.googleapis.com/css?family=Marcellus&family|Cinzel+Decorative:wght@700')";
    --paragraph-font: Lato, Helvetica, sans-serif;
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #45a049;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: black;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #E7D7C1;
    /* paragraph text on a colored background */
    --paragraph-background-color: black;
    --nav-link-color: #4175e6;
    --nav-background-color: #f2f2f2;
    --nav-hover-link-color: #f76d29;
    --nav-hover-background-color: #4175e6;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

html {
    background-color: #FEDFD4;
}

body {
    max-width: 940px;
    margin: 0 auto;
    background-color: #d4c2c0;
    padding: 1em;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Marcellus";
    color: #291b16;
}

header {
    padding: .2em;
    text-align: center;
    color: #45a049;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 25px;
}

header>h1,
header>h2 {
    color: #196da9;
}

p {
    font-family: "Poppins";
    color: rgb(3, 1, 0);
    padding: 1em;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

.colors th {
    background-color: #f2f2f2;
}

.colors td {
    width: 20%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

.accent3 {
    background-color: var(--accent3-color);
}

p.colored {
    background-color: white;
    color: #A43312;
}

nav {
    background-color: #45a049;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

nav div {
    flex: 1 1 auto;
}

nav a {
    display: block;
    text-align: center;
    padding: .5em;
    /*min-width: 70px;*/
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: #f8f5f5;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: #f8f5f5;
}

.sitemap {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ." ". . . top . ." ". left left right right ." "page2 page2 . . page3 page3";
}

.sitemap>div {
    text-align: center;
}

.sm-home {
    grid-area: home;
    background-color: #999;
    line-height: 3em;
}

.sm-page2 {
    grid-area: page2;
    background-color: #f8f5f5;
    line-height: 3em;
}

.sm-page3 {
    grid-area: page3;
    background-color: #999;
    line-height: 3em;
}

.top {
    grid-area: top;
    border-left: 1px solid;
}

.left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
}

.right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
}

@media (min-width: 37.5em) {
    nav {
        flex-direction: row;
    }
    nav a {
        font-size: 1.1rem;
    }
}

@media (min-width: 48em) {
    nav a {
        font-size: 1.3rem;
    }
}

footer {
    bottom: 0;
    text-align: center;
    font-size: 20px;
}

.container {
    max-width: 978px;
    margin: auto;
}

#last_updated {
    color: gold;
    line-height: 5mm;
}

.footer_box {
    background-color: #45a049;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

#copyright {
    color: white;
}





table {
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px solid lightgray;
    background-color: rgb(239, 236, 226);
    padding: 0.5em;
}

td:nth-child(1) {
    font-weight: bold;
}