@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Cinzel&family=Crushed&family=Felipa&family=Luckiest+Guy&family=Marcellus&family=Poppins:wght@500&family=Rammetto+One&family=Sail&family=Spicy+Rice&family=Staatliches&display=swap');
 
:root html {
    background-color: #f7f8f9;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}


body {
    background-color: #f9fafc;
    padding: 0;
    margin: 0;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Marcellus";
    font-size: 16px;
    color: #003049;
    text-align: center;
}
h1 {
  font-family: "Marcellus";
  text-transform: capitalize;
  font-size: 20px;
}
h2 {
  font-family: "Poppins";
  font-size: 20px;

}
h3 {
  font-size: 30px; 
  font-family: "crushed"; 
}

h5 {
  font-family: "Staatliches";
  font-size: 45px;
  color: #1d992d;
  font-weight: bold;
  margin: 30px;
  letter-spacing: 2px;
 
}
h4 {
    font-family: "crushed";
    font-size: 40px;
    font-weight: bolder;
    color: rgb(254, 112, 46);
    text-shadow: 2px 2px 2px #030303;
    line-height: 2px;
    letter-spacing: 2px;
    position: relative;
    top: .5em;
    right: 10em;
}

.form {
    text-align: left;
}

header>h1,
header>h2 {
    color: white;
}
.logo {
  padding-bottom: 1em;
}
/*call to action*/
.heroDiv {
  position: relative;
  height: 100%;
}

.heroImg {
  width: 100%;
  height: 100%;
  max-height: 800px;
  
 
}

.heroImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroTop {
  position: absolute;
  top: 10px;
  left: 10px;
  color:#fffffe; 
  outline: 3px rgb(50, 60, 53);
  margin-right: .5em;
  border-radius: 20px;  
}


.heroText {
  font-family: "Spicy Rice";
  font-size: 20px;
  word-spacing: 4px;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #f7b308;
  text-shadow:2px 2px 1px rgb(67, 66, 65);
  background-color: rgba(72, 69, 69, 0.5); 

  position: absolute;
  top: .3em;
  left: .5em;
  text-align: left;
  border-radius: 10px;
  padding: .2em;
  margin: .2em;

}

.heroBottom {
  font-size: 20px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 2%;
  padding-right: 3%;
  padding-left: 3%;
}
.heroBottom2 {
  font-size: 20px;
  position: absolute;
  bottom: 100px;
  right: 20px;
  padding: 2%;
  padding-right: 3%;
  padding-left: 3%;
}

button {
  font-size: 25px;
  font-weight: bold;
  background-color: #20a24e;
  color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover {
  background-color: #a8f9ff;
}

button:active {
  background-color: #18b8c4;
}

.joinBtn {
  width: 100%;
  height: 100px;
  font-size: 30px;
  max-height: 100px;
}


/*footer*/
footer {
    text-align: center;
    background-color: #fdfaf2;
    padding: 0px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 
    font-family: "Marcellus";
    font-size: 18px;
}

footer p {
    color: #030303;
    font-family: "Marcellus";
    font-size: 16px;
    padding: 0px;
    margin: 10px;
}

footer img {
    width: 88px;
    height: auto;
}

F .footer_end {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts {
   text-align: center;
   
}

p {
    font-family: "Poppins";
    font-size: 1em;
    font-weight: 400;
    color: #070808;
    padding: 0em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h6 {
    font-size: 40px;
    color: #f2df50;
    text-shadow: 2px 2px 2px #410303;
    font-family: "Water Brush";
    padding: 0em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.date {
    margin: 0.2rem;
    padding: .3rem 0.75rem;
    background-color: #f7770e;
    text-shadow: 2px 2px 3px #030303;
    flex-basis: 100%;
    text-align: center;
    font-family: "Bowlby one";
    font-size: 27px;
    letter-spacing: 3px;

}

header {
    background-color: #ffffff;
    padding: 0 0;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fdfaf2;
    display: flex;
    font-family: "Bowlby One";
    font-size: 20px;
    align-items: center;
}



.headings {
    display: flex;
    flex-direction:row;
    margin: 0 0 0 0;
   
    
    
}

.headings h1 {
    font-size: 1.5rem;
    margin: 0 0 0 0;
    font-family: "Bowlby One";
   
    
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }

nav {
    padding-top: 1em;
    width: 100%;
   

}

.navigation {
    max-width: 1330px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    line-height: 5px;
    
 
   
}
.navigation h3 {
  font-size: 14px;
  line-height: 16px;
  font-weight: bolder;
  color: #30781a;
  font-family: "poppins";

  
}
.navigation p {
  font-size: 14px;
  line-height: 16px;
  font-weight: bolder;
  color: #30781a;
  font-family: "poppins";


}
.navigation li {
    display: none;

    
   
}

.navigation li:first-child {
    display: block;
    
}

.navigation a {
    display: block;
    color: #00852a;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins";
    text-decoration: underline;
    font-weight: bolder;
    font-size: 18px;
}

.navigation a:hover {
    color: #f18035;
   
}

    
.socials {
    position: relative;
    width:100%;
    text-align: center;
}
.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}


  
.fa:hover {
      opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #f00687;
    color: white;
}
   

.responsive {
    margin-left: auto;
    margin-right: auto;
}

.responsive li {
    display: block;
}



body {
    font-family: Verdana, sans-serif;
    margin: 0
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    margin: auto;
}
.slideshow-container img{
  width:100%;
}
.slideText1 {
    font-family: "Spicy Rice";
    font-size: 20px;
    font-weight: bolder;
    color: #38b303;
    text-shadow: 3px 3px 1px  #060505;
    letter-spacing: 3px;
    padding: .2em;
    position: absolute;
    width: 100%;
    text-align: center;
    top:400px;
    left:0px; 
     
}

.slideText2 {
    font-family: "Spicy Rice";
    font-size: 20px;
    font-weight: bolder;
    color: #2d8d04;
    letter-spacing: 3px;
    padding: .2em;
    position: absolute;
    width: 100%;
    text-align: center;
    top:400px;
    left:0px; 
}
.slideText3 {
    font-family: "Spicy Rice";
    font-size: 20px;
    font-weight: bolder;
    color: #f7770e;
    text-shadow: 3px 3px 1px  #060505;
    letter-spacing: 3px;
    padding: .2em;
    position: absolute;
    width: 100%;
    text-align: center;
    top:400px;
    left:0px;      
}
  /* Caption text */
  .text {
    color: #040404;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #090909;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
/*weather*/
 .card {
    background-color: #ffffff;
    margin: .4em;
    padding: 1em;
    color:rgb(2, 0, 10);
    text-align: center;
    border:#1d992d solid 10px;
    
 }
 .card .weatherCity {
        font-family: "Poppins";
        font-weight: bold;
        font-size: 25px;
        color: #0c0c0b;
        display: grid;
        border-radius: 2em;
            
 }
 .temperature {
        display: flex;
        justify-content: left;
 }
    
 .weather h3{
    text-align: center;
  
    line-height: 5px ;
    
 }
 .weather h4{
    text-align: center;
    color:#030303;
    line-height: 5px;
 }
 .temperature span {
        font-family: "Poppins";
        color: #FDF0D5;
        font-size: 20px;
        line-height: 5px;
 }
 /*contact*/
 body {
    font-family: Arial, Helvetica, sans-serif;
}
  
* {
  box-sizing: border-box;
}

.drinks {
  color: #fb8b0a;
  font-size: 20px;
}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*footer*/
footer {
  text-align: center;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  color: #fdfaf2;
  border: 8px solid #1d992d;
  outline-style: outset;
  outline-color: #1d992d;
  font-family: "Marcellus";
  font-size: 1px;
  line-height: 5px;
}
footer h1 {
  color: #030303;
  font-family: "Marcellus";
  font-size: 25px;
  line-height: 25px;
  margin-top: 40px;
  margin-bottom: .5px;
  padding-left: 5px;
}
footer h2 {
  color: #30781a;
  font-family: "Marcellus";  
  font-size: 14px; 
  font-style: italic;
  text-align: left;
 
}
footer h3 {
  display: inline-block;
  font-family: "Poppins";
  font-size: 16px;
  text-indent: 30px;
  margin-top:30px;
}
footer p {
  color: #030303;
  font-family: "Marcellus";
  font-size: 16px;
  padding-bottom: 2px;
  margin: 10px;
  text-align: center;
}

.footer img {
  width: 150px;
  height: auto;
  padding-top: 3em;
  margin-top: 20em;
 
}
.footer a:hover {
  color:gray;


}   
.footer_end {
  width: 100%;
  display: grid;
  justify-content: center;    

}

/*fresh grid*/
.fruits{
  display:flex;
  justify-content: center;
}
.fruitCard {
  background-color: #ffffff;
  margin: .4em;
  color:rgb(2, 0, 10);
  text-align: center;
  border:rgb(48, 170, 4) solid 5px;
  width:100%;
  max-width: 300px;
  padding-bottom: 10px;
}
.fruitCard img{
  width:80%;
  padding-bottom: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
 
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.directory section h3 {
  font-size: 1.5rem;
 
}

.directory section a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.9rem;
  font-size: 16px;
  color: #0369f8;
  font-weight: bold;
}

.directory img {
  height: 120px;
  max-width: 100%;
  object-fit:contain;

  /* Images are jerks - Seattle*/
}
.menu {
  text-align: right;
  padding-right: 2em;
  padding-top: 1em;
}

.menu button {
  padding: 1rem;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  padding: 1.5em;
  column-gap: 1em;
  row-gap: 1em;
}

.grid section {
  height: 300px;
  flex-direction: column;
  text-align: center;
  border: 5px solid #760808;
  background-color: #fff;
}

.grid img {
  height: 175px;
  width: 175px;

}

.grid section>* {
  margin: 0.1rem;
  padding: 0.5em;
}

.grid h4 {
  color: black;
}
.grid h2 {
  color: black;
}

          
#forecast{
  margin-top: 40px;
}
          
#forecast table{
  background-color: white;
  text-align: center;
  margin:auto;
}
#forecast table tr td {
  width:60px;
  color: black;
}
/*about page*/
.about img {
  max-width: 800px;
  width: 100%;
  border:#00852a solid 10px;

}

.about div {
  max-width: 800px;
  margin: auto;
}

.about picture {
  margin: auto;
  text-align: center;
  display: block;
  border: #1d992d 2px;
}
.about{
  padding-left: 5px;
}

.aboutDiv {
  position: relative;
  height: auto;
}

.cardAbout {
  background-color: #ffffff;
  margin: .4em;
  padding: 1em;
  color:rgb(2, 0, 10);
  text-align: center;
  border:rgb(48, 170, 4) solid 10px;
  
}

