@media only screen and (min-width: 60.0em) {
    .contactDiv{
        display: flex;
    }
    .slideText1 {
        font-size: 60px;
        top:350px;
        left:0px; 
         
    }
    
    .slideText2 {
        font-size: 60px;
        top:350px;
        left:0px; 
    }
    .slideText3 {
        font-size: 60px;

        top:350px;
        left:0px;      
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 10px;
    }
    .boxHero {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
.date {   
    font-size: 27px;
}
.heroText {
    font-size: 30px;
    letter-spacing: 2px;

    position: absolute;
    top: .3em;
    left: .5em;
    border-radius: 10px;
    padding: .2em;
    margin: .2em;
  
  }

}