@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: rgb(28, 65, 176);
}

header,
main,
footer {
    margin: 1rem;
    position: relative;
}

h1 {
    color: rgb(237, 237, 246);
    text-shadow: 0 0 50px #010415;
    width: 97%;
    text-align: center;
    font-size: 50px;
    border-bottom: 3px solid #e7dddd;
    padding: 20px;
}

h2 {
    color: navy;
    margin: 0 0 .3rem 0;
    border-bottom: 1px solid #bbb;
}

h3 {
    margin: 0;
}

h4 {
    color: #333;
    margin: 7px 0 5px 0;
}

p {
    margin: 0;
}

main {
    margin-left: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 20px;
}

section {
    margin: 0.25rem;
    padding: 2rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>p {
    min-height: 40px;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 300px;
    border: 1px solid #333;
}

footer {
    border-top: 3px solid #e7dddd;
    padding: 20px;
    color: #bbb;
    text-align: center;
}

.un {
    list-style: none;
}